// theme-colors
$primary:#10255A;
$danger:#BC2A2B;
$dark:#283646;
$info:#1E1E1E;
$light:#FFECEC;
$secondary:#D6E1FF;
$success:#fff;
// font family
$jost:'Jost', sans-serif;
$poppins:'Poppins', sans-serif;