// theme-colors
$primary-color:#10255A;
$danger-color:#BC2A2B;
$dark-color:#283646;
$info-color:#1E1E1E;
$light-color:#FFECEC;
$secondary-color:#D6E1FF;
$success-color:#fff;
$warning-color:#787878;
$lighter-color:#f9f9f9;
$blue-color:#0081FE;
$heading-color:#000;
$gray-400-color:#d9d9d9;
$gray-600-color:#d4d4d4;
$gray-800-color:#999999;
$gray-900-color:#525252;
$placeholder-color:#999;
// font family
$font-family-jost:'Jost', sans-serif;
$font-family-poppins:'Poppins', sans-serif;
$font-family-lato:'Lato', sans-serif;