// theme-colors
$primary:#10255A;
$danger:#BC2A2B;
$dark:#283646;
$info:#1E1E1E;
$light:#FFECEC;
$secondary:#D6E1FF;
$success:#fff;
$warning:#787878;
$lighter:#f9f9f9;
$blue:#0081FE;
$headings-color:#000;
// font family
$jost:'Jost', sans-serif;
$poppins:'Poppins', sans-serif;