.mx-150{
  margin-left: 150px;
  margin-right: 150px;
}
#homeDrivesasa{
  height: 1140px;
  background-image:linear-gradient(to top,rgba(white,0.1),rgba(white, 0)),url("/images/banner.png");
  background-repeat: no-repeat;
  background-size: cover;
  .shadow-linear{
    background-image:linear-gradient(to bottom,rgba(#1E1E1E,1),rgba(white, 0));
    height: 650px;
  }
  ul a{
    padding: 0px;
    line-height: 27px;
  }
}
#carCards{
  height: 250px;
}
#carExpert{
  background-image:linear-gradient(to top,rgba(white,0.1),rgba(white, 0)),url("/images/bg-car-expert.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 860px;
}
.bg-lighter{
  background-color:$lighter;
}
#happyClients{
  height: 1080px;
  background-image:linear-gradient(to top,rgba(white,0.1),rgba(white, 0)),url("/images/bg-car-expert.png");
  background-repeat: no-repeat;
  background-size: cover;
  .container-fluid{
    background-image:linear-gradient(to bottom,rgba(#1E1E1E,1),rgba(white, 0));
    height: 650px;
  }
}
.lato{
  h5{
    font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 28px;
  color: #525252  
  }
  p{
    font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: #525252;
  line-height: normal;
  }
  small{
    font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: #525252;
  }
}