// header
#headerDrivesasa ul a{
    line-height: 27px;
}
// banner page
.mx-150{  
  margin-left: 150px;
  margin-right: 150px;
}
#homeDrivesasa{
  height: 1140px;
  background-image:linear-gradient(to top,rgba($success-color,0.1),rgba($success-color, 0)),url("/images/banner.png");
  background-repeat: no-repeat;
  background-size: cover;
  .shadow-linear{
    background-image:linear-gradient(to bottom,rgba(#1E1E1E,1),rgba($success-color, 0));
    height: 650px;
  }
}
#carCards{
  height: 250px;
}
@media screen and (max-width:"992px") {
  #carCards{
    height: 50px;
  }  
}
@media screen and (max-width:"768px") {
  #carCards{
    height: 590px;
  }  
}
@media screen and (max-width:"400px") {
  #carCards{
    height: 630px;  
  }  
}
#carExpert{
  background-image:linear-gradient(to top,rgba(white,0.1),rgba(white, 0)),url("/images/bg-car-expert.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 860px;
}
#happyClients{
  height: 1080px;
  background-image:linear-gradient(to top,rgba($success-color,0.1),rgba($success-color, 0)),url("/images/bg-car-expert.png");
  background-repeat: no-repeat;
  background-size: cover;
  }
@media screen and (max-width:"992px") {
  #happyClients{
    height: 780px;
  }  
}
@media screen and (max-width:"768px") {
  #happyClients{
    height: 1600px;
  }  
}
@media screen and (max-width:"670px") {
  #happyClients{
    height: 1550px;
  }  
}
@media screen and (max-width:"620px") {
  #happyClients{
    height: 1400px;
  }  
}
@media screen and (max-width:"510px") {
  #happyClients{
    height: 1200px;
  }  
}
.lato{
    font-family: $font-family-lato;
    color: $gray-900-color;
  h5{
  font-weight: $font-weight-bold;
  font-size: 20px !important;
  }
  p{
  font-size: 10px !important;
  }
  small{
  font-size: 10px !important; 
  }
}
// home page 
#homePageBanner{
  background-image: url(/images/home-banner-bg.png);
  height: 1030px;
  background-repeat: no-repeat;
  background-size: cover;
}
.table{
  tr:nth-child(odd)>td{
    color: $success-color;
    background-color: $danger-color;
    padding: 15px 15px;
  }
  tr:nth-child(odd)>th{
    color: $success-color;
    background-color: $danger-color;
    padding: 15px 15px;
  }
  tr:nth-child(even)> td{
    color: $headings-color;
    background-color: $success-color;
    padding: 15px 15px;
  }
  tr:nth-child(even)> th{
    color: $headings-color;
    background-color: $success-color;
    padding: 15px 15px;
  }
}
#homeVendorInfo{
  background-image: url(/images/home-banner-bg.png);
}
// marketplace page 
#bannerMarketplace{
  background-image: url("/images/banner-marketplace-bg.png");
}
// Service Center 
#bannerService{
  background-image: url("/images/banner-service-bg.png");
}
// blog 
#bgBlog{
  background: linear-gradient(180deg, rgba(49, 49, 49, 0.30) -4.74%, rgba(0, 0, 0, 0.55) 103.32%), url("/images/blog-bg.jpg"), lightgray 50% / cover no-repeat;
  height: 961px;
}